html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins';
}

body {
    background-color:rgb(63, 51, 81);
    color: #E9A6A6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 0;
    font-family: 'Poppins';
    padding: 0;
}


header {
    display: flex;
    background-color: #1F1D36;
    color:aliceblue;
    min-width:100%;
    margin: 0;
    padding: 0;
    min-height: 70px;
    max-height: auto;
    justify-content: space-around;
    align-items: center;
}

#intro {
    font-size: 2rem;
    justify-content: space-around;
    display: flex;
}


nav {
    display: flex;
    justify-content: right;
    padding: 10px;
    border: 0;
    font-family: 'Nunito','sans-serif';
}

nav a:hover {
    padding: 5px;
    border: solid 2px #3F3351;
    color: #864879;
}

nav a {
    margin-right: 40px;
    padding-top: 10px;
    text-decoration: none;
    color:#E9A6A6;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Nanum Gothic', sans-serif;

}

#more {
    display: none;
    width : 80%;
    margin: auto;
    padding: 5% 10% 0% 10%;
    align-items: center;
}

#homepage {
    width : 90%;
    margin: auto;
    padding: 0% 0% 0% 10%;
    align-items: center;
}


#img_div {
    height: auto;
    max-width: 100%;
}


#hemakesh {
    float : right;
    width: 350px;
    height: 416px;
}

@media (max-width: 394px) {
    #hemakesh {
        width: 100%;
        height: auto; 
    }

    #homepage {
        padding-bottom: 10px;
    }
}

#icon {
    height : 40px;
    width: 40px;
}

footer {
    background-color: rgba(42, 23, 56, 0.2); 
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 40px;
    margin-top: auto;
   
}


.content {
    flex: 1;
    padding: 0;
}

.container {
    flex: 1;
    border: 0;
    font-family: 'Poppins', OpenSans;

}

#homepage .container {
    flex: 1;
    border: 0;
    padding-top: 12%;
    width: 100%;
    color:rgb(134, 72, 121);
}

#skills_sec {
    
    border: solid 1px black;
    width : 90%;
    margin: auto;
    padding: 0% 0% 0% 10%;
    align-items: center;
    background-color: rgb(134, 72, 121);
    box-shadow: black;
    border-radius: 10px;
    color:rgb(31, 29, 54);
}


#knowmore {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.sub {
    font-size: 13px;
    font-weight: 400;
}


#knowmore:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
