html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 0;

}
header {
    color:aliceblue;
    background-color: black;
    text-align: center;
    padding: 10px;

}

#nav {
    display: flex;
    padding: 0;
    border: 0;
    font-family: 'Nunito','sans-serif';
    
}

#nav a:hover {
    border: solid 2px black;
    border-color: black;
}

#nav a {
    padding: 5px;
    color:azure;
}

#more {
    display: none;
    width : 80%;
    margin: auto;
    padding: 5% 10% 0% 10%;
    align-items: center;
}

#homepage {
    border: solid 1px black;
    width : 90%;
    margin: auto;
    padding: 0% 0% 0% 10%;
    align-items: center;
    background-color: blanchedalmond;
}

#img_div {
    height: auto;
    max-width: 100%;
}


#hemakesh {
    float : right;
    width: 350px;
    height: 416px;
}

@media (max-width: 394px) {
    #hemakesh {
        width: 100%;
        height: auto; 
    }

    #homepage {
        padding-bottom: 10px;
    }
}

#icon {
    height : 40px;
    width: 40px;
}

footer {
    background-color: #1B1212;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 40px;
}


.content {
    flex: 1;
    padding: 0;
}

.container {
    flex: 1;
    border: 0;

}

#homepage .container {
    flex: 1;
    border: 0;
    padding-top: 12%;
    width: 100%;
}

#skills_sec {

    border: solid 1px black;
    width : 90%;
    margin: auto;
    padding: 0% 0% 0% 10%;
    align-items: center;
    background-color: blanchedalmond;
}

#knowmore {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


#knowmore:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
